// 这里使用 `[id*="char--"]` 是为了提高动画参数的优先级
[id*="char--"].animation--looking-through {
  $lookingThrough-animation-time: 20s;
  $lookingThrough-animation-delay: 2s;

  .z-hand-outer {
    .telescope {
      z-index: -1;
      position: absolute;
      left: 2px;
      top: 10px;
      transform: rotate(-18deg);
      animation: lookingThrough-deco-rotation $lookingThrough-animation-time infinite;
      animation-delay: $lookingThrough-animation-delay;

      &>.image {
        z-index: -10;

        display: block;
        position: absolute;
        width: 3px;
        height: 75px;
        background-image: url(../../media/character/deco/Lipperhey-telescope.png);
        transform: translate(-1px, -33px);
      }
    }
  }

  .foot {
    &.inner {
      animation: lookingThrough-inner-foot-rotation $lookingThrough-animation-time infinite;
      animation-delay: $lookingThrough-animation-delay;
    }
  }

  .claf {
    &.outer {
      animation: lookingThrough-outer-claf-rotation $lookingThrough-animation-time infinite;
      animation-delay: $lookingThrough-animation-delay;
    }

    &.inner {
      animation: lookingThrough-inner-claf-rotation $lookingThrough-animation-time infinite;
      animation-delay: $lookingThrough-animation-delay;
    }
  }

  .thigh {
    &.outer {
      animation: lookingThrough-outer-thigh-rotation $lookingThrough-animation-time infinite;
      animation-delay: $lookingThrough-animation-delay;
    }

    &.inner {
      animation: lookingThrough-inner-thigh-rotation $lookingThrough-animation-time infinite;
      animation-delay: $lookingThrough-animation-delay;
    }
  }

  .abdomen {
    &.u {
      animation: lookingThrough-abdomen-rotation $lookingThrough-animation-time infinite;
      animation-delay: $lookingThrough-animation-delay;
    }
  }

  .breasts {
    &.u {
      animation: lookingThrough-breasts-rotation $lookingThrough-animation-time infinite;
      animation-delay: $lookingThrough-animation-delay;
    }
  }

  .brachial {
    &.outer {
      transform: rotate(17deg);
      animation: lookingThrough-outer-brachial-rotation $lookingThrough-animation-time infinite;
      animation-delay: $lookingThrough-animation-delay;
    }

    &.inner {
      transform: rotate(14deg);
      animation: lookingThrough-inner-brachial-rotation $lookingThrough-animation-time infinite;
      animation-delay: $lookingThrough-animation-delay;
    }
  }

  .forearm {
    &.outer {
      transform: rotate(24deg);
      animation: lookingThrough-outer-forearm-rotation $lookingThrough-animation-time infinite;
      animation-delay: $lookingThrough-animation-delay;
    }

    &.inner {
      animation: lookingThrough-inner-forearm-rotation $lookingThrough-animation-time infinite;
      animation-delay: $lookingThrough-animation-delay;
    }
  }

  .neck {
    &.u {
      animation: lookingThrough-neck-rotation $lookingThrough-animation-time infinite;
      animation-delay: $lookingThrough-animation-delay;
    }
  }

  .head {
    &.u {
      animation: lookingThrough-head-rotation $lookingThrough-animation-time infinite;
      animation-delay: $lookingThrough-animation-delay;
    }
  }
}












@keyframes lookingThrough-outer-claf-rotation {
  0% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(1.5deg);
  }

  10% {
    transform: rotate(1deg);
  }

  50% {
    transform: rotate(1deg);
  }

  55% {
    transform: rotate(0.9deg);
  }

  60% {
    transform: rotate(0deg);
  }
}

@keyframes lookingThrough-inner-claf-rotation {
  0% {
    transform: rotate(-26deg);
  }

  5% {
    transform: rotate(-25deg);
  }

  10% {
    transform: rotate(-25.5deg);
  }

  50% {
    transform: rotate(-25.5deg);
  }

  55% {
    transform: rotate(-25deg);
  }

  60% {
    transform: rotate(-26deg);
  }
}

@keyframes lookingThrough-inner-foot-rotation {
  0% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(-1.5deg);
  }

  10% {
    transform: rotate(-1deg);
  }

  50% {
    transform: rotate(-1deg);
  }

  55% {
    transform: rotate(-0.9deg);
  }

  60% {
    transform: rotate(0deg);
  }
}

@keyframes lookingThrough-outer-thigh-rotation {
  0% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(0.2deg);
  }

  10% {
    transform: rotate(1deg);
  }

  50% {
    transform: rotate(1deg);
  }

  55% {
    transform: rotate(0.8deg);
  }

  60% {
    transform: rotate(0deg);
  }
}

@keyframes lookingThrough-inner-thigh-rotation {
  0% {
    transform: rotate(25deg) translate(0px, 0px);
  }

  5% {
    transform: rotate(23deg) translate(0px, 1px);
  }

  10% {
    transform: rotate(23deg) translate(0px, 1px);
  }

  50% {
    transform: rotate(23deg) translate(0px, 1px);
  }

  55% {
    transform: rotate(23deg) translate(0px, 1px);
  }

  60% {
    transform: rotate(23deg) translate(0px, 0px);
  }
}


@keyframes lookingThrough-abdomen-rotation {
  0% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(1.25deg);
  }

  10% {
    transform: rotate(1deg);
  }

  60% {
    transform: rotate(0deg);
  }
}

@keyframes lookingThrough-breasts-rotation {
  0% {
    transform: rotate(0deg);
  }

  4% {
    transform: rotate(4deg);
  }

  10% {
    transform: rotate(3.5deg);
  }

  50% {
    transform: rotate(3.5deg);
  }

  54% {
    transform: rotate(3deg);
  }

  60% {
    transform: rotate(0deg);
  }
}

@keyframes lookingThrough-neck-rotation {
  0% {
    transform: rotate(0deg);
  }

  4% {
    transform: rotate(-6deg);
  }

  10% {
    transform: rotate(-6deg);
  }

  50% {
    transform: rotate(-6deg);
  }

  54% {
    transform: rotate(-5deg);
  }

  60% {
    transform: rotate(0deg);
  }
}

@keyframes lookingThrough-head-rotation {
  0% {
    transform: rotate(0deg);
  }

  4% {
    transform: rotate(-7deg);
  }

  10% {
    transform: rotate(-7deg);
  }

  50% {
    transform: rotate(-7deg);
  }

  54% {
    transform: rotate(-5deg);
  }

  60% {
    transform: rotate(0deg);
  }
}

@keyframes lookingThrough-outer-brachial-rotation {
  0% {
    transform: rotate(17deg) translate(0px, 0px);
  }

  4% {
    transform: rotate(71deg) translate(0px, -2px);
  }

  10% {
    transform: rotate(73deg) translate(0px, -2px);
  }

  50% {
    transform: rotate(73deg) translate(0px, -2px);
  }

  54% {
    transform: rotate(67deg) translate(0px, -3px);
  }

  60% {
    transform: rotate(17deg) translate(0px, 0px);
  }
}

@keyframes lookingThrough-inner-brachial-rotation {
  0% {
    transform: rotate(14deg) translate(0px, 0px);
  }

  4% {
    transform: rotate(71deg) translate(-1px, 1px);
  }

  10% {
    transform: rotate(73deg) translate(-1px, 1px);
  }

  50% {
    transform: rotate(73deg) translate(-1px, 1px);
  }

  54% {
    transform: rotate(69deg) translate(-1px, 2px);
  }

  60% {
    transform: rotate(14deg) translate(0px, 0px);
  }
}

@keyframes lookingThrough-outer-forearm-rotation {
  0% {
    transform: rotate(24deg);
  }

  4% {
    transform: rotate(61deg);
  }

  10% {
    transform: rotate(60deg);
  }

  50% {
    transform: rotate(60deg);
  }

  54% {
    transform: rotate(60deg);
  }

  60% {
    transform: rotate(24deg);
  }
}

@keyframes lookingThrough-inner-forearm-rotation {
  0% {
    transform: rotate(0deg);
  }

  4% {
    transform: rotate(56deg);
  }

  10% {
    transform: rotate(55deg);
  }

  50% {
    transform: rotate(55deg);
  }

  54% {
    transform: rotate(54deg);
  }

  60% {
    transform: rotate(0deg);
  }
}


@keyframes lookingThrough-deco-rotation {
  0% {
    transform: rotate(-18deg);
  }

  4% {
    transform: rotate(-48deg);
  }

  10% {
    transform: rotate(-47.5deg);
  }

  50% {
    transform: rotate(-47.5deg);
  }

  54% {
    transform: rotate(-40deg);
  }

  60% {
    transform: rotate(-18deg);
  }
}