@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  background-size: cover;
  box-sizing: border-box; }

body.Galileo {
  position: relative;
  width: 100%;
  height: 100%; }
  body.Galileo {
    --grey: #2D2D35;
    --grey-1-hex: #47474E;
    --grey-2-hex: #57575D;
    --grey-3-hex: #67676D;
    --grey-4-hex: #79797E;
    --grey-5-hex: #89898E;
    --grey-6-hex: #9B9B9E;
    --grey-7-hex: #ABABAE;
    --grey-8-hex: #BBBBBE;
    --grey-9-hex: #CDCDCF;
    --grey-10-hex: #DDDDDE;
    --grey-11-hex: #EFEFEF;
    --grey-12-hex: #F7F7F7;
    --grey-1-rgba: rgba(45, 45, 53, 0.88);
    --grey-2-rgba: rgba(45, 45, 53, 0.80);
    --grey-3-rgba: rgba(45, 45, 53, 0.72);
    --grey-4-rgba: rgba(45, 45, 53, 0.64);
    --grey-5-rgba: rgba(45, 45, 53, 0.56);
    --grey-6-rgba: rgba(45, 45, 53, 0.48);
    --grey-7-rgba: rgba(45, 45, 53, 0.40);
    --grey-8-rgba: rgba(45, 45, 53, 0.32);
    --grey-9-rgba: rgba(45, 45, 53, 0.24);
    --grey-10-rgba: rgba(45, 45, 53, 0.16);
    --grey-11-rgba: rgba(45, 45, 53, 0.08);
    --grey-12-rgba: rgba(45, 45, 53, 0.04);
    --color-sig: #FF696D;
    --white: #F7E9DB;
    background-color: var(--grey);
    color: var(--white); }
  body.Galileo {
    font-family: "Computer Modern Serif", "Times New Roman", Times, serif;
    letter-spacing: 0.025em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

#preloader {
  background-color: var(--grey);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10000000; }

.page-cover-container {
  position: relative; }
  .page-cover-container .page-cover-image-container {
    position: relative;
    height: calc(48vh - 80px);
    margin-bottom: 80px; }
    .page-cover-container .page-cover-image-container::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 80px;
      background-image: linear-gradient(to bottom, var(--grey), rgba(0, 0, 0, 0)); }
    .page-cover-container .page-cover-image-container .image {
      position: absolute;
      transform: translate(-50%, 0);
      left: 50%;
      margin: 0 auto;
      opacity: 0;
      animation: coverIntro 1s forwards;
      animation-delay: 0.5s;
      width: 96px;
      height: 480px;
      top: auto;
      bottom: 0; }
      @media screen and (max-height: 800px) {
        .page-cover-container .page-cover-image-container .image {
          width: 72px;
          height: 360px;
          top: auto;
          bottom: 0; } }
      @media screen and (min-height: 801px) {
        .page-cover-container .page-cover-image-container .image {
          width: 128px;
          height: 640px;
          top: auto;
          bottom: 0; } }
      @media screen and (min-height: 1490px) {
        .page-cover-container .page-cover-image-container .image {
          width: 160px;
          height: 800px;
          top: auto;
          bottom: 0; } }
      @media screen and (min-height: 1824px) {
        .page-cover-container .page-cover-image-container .image {
          width: 160px;
          height: 800px;
          top: 0;
          bottom: auto; } }
      .page-cover-container .page-cover-image-container .image .layer {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        position: absolute;
        top: 0; }
        .page-cover-container .page-cover-image-container .image .layer.a {
          background-image: url(../../media/illustration/cover/layer1.png);
          pointer-events: none; }
        .page-cover-container .page-cover-image-container .image .layer.b {
          background-image: url(../../media/illustration/cover/layer2.png);
          transition: 0.6s; }
          .page-cover-container .page-cover-image-container .image .layer.b:hover {
            transform: translate(0, 8px); }
        .page-cover-container .page-cover-image-container .image .layer.c {
          background-image: url(../../media/illustration/cover/layer3.png);
          pointer-events: none; }
@keyframes coverIntro {
  0% {
    opacity: 0;
    transform: translate(-50%, -20px); }
  100% {
    opacity: 1;
    transform: translate(-50%, 0); } }
  .page-cover-container .page-title-container {
    text-align: center; }
    .page-cover-container .page-title-container h2.subtitle {
      font-size: 28px;
      line-height: 1.5;
      opacity: 0;
      animation: title-intro-trans 1.4s forwards;
      animation-delay: 1.1s; }
    .page-cover-container .page-title-container h1.title {
      font-size: 50px;
      line-height: 1.5;
      margin-top: 0.1em;
      font-weight: bold;
      opacity: 0;
      animation: title-intro-trans 1.4s forwards;
      animation-delay: 1.4s; }
    .page-cover-container .page-title-container p.author {
      font-size: 20px;
      line-height: 1.5;
      margin-top: 1.5em;
      font-style: italic;
      color: var(--color-sig);
      opacity: 0;
      animation: title-intro-trans 1.4s forwards;
      animation-delay: 1.7s; }
    @media screen and (max-width: 1500px) {
      .page-cover-container .page-title-container h2.subtitle {
        font-size: 22px; }
      .page-cover-container .page-title-container h1.title {
        font-size: 40px; }
      .page-cover-container .page-title-container p.author {
        font-size: 16px; } }
    @media screen and (max-width: 1480px) {
      .page-cover-container .page-title-container h2.subtitle {
        font-size: 22px; }
      .page-cover-container .page-title-container h1.title {
        font-size: 38px; }
      .page-cover-container .page-title-container p.author {
        font-size: 16px; } }
@keyframes title-intro-trans {
  0% {
    opacity: 0;
    transform: scale(0.95); }
  100% {
    opacity: 1;
    transform: scale(1); } }
.page-fixed-items .page-nav-left {
  position: fixed;
  width: 70px;
  height: 100%; }
  .page-fixed-items .page-nav-left .text-item {
    writing-mode: vertical-lr;
    font-family: "Computer Modern Typewriter";
    font-size: 12px;
    letter-spacing: 4px;
    color: var(--color-sig);
    transform: rotate(180deg) translate(50%, 50%);
    position: absolute;
    left: 50%;
    top: 50%; }

.main-content {
  margin: 0 auto;
  max-width: 880px;
  padding-left: 40px;
  padding-right: 40px; }
  @media screen and (max-width: 640px) {
    .main-content {
      padding-left: 24px;
      padding-right: 24px; } }
  .main-content article.main-article .part-head {
    text-align: center; }
    .main-content article.main-article .part-head .part-numbering {
      font-size: 24px;
      line-height: 1.5;
      font-weight: bold;
      font-style: italic; }
    .main-content article.main-article .part-head .part-title {
      font-size: 40px;
      line-height: 1.5;
      font-weight: bold;
      font-style: italic;
      color: var(--color-sig); }
  .main-content article.main-article > p {
    font-size: 18px;
    line-height: 1.75; }
  .main-content article.main-article > figure {
    margin: 80px auto; }
    .main-content article.main-article > figure.full-width {
      width: calc(100% + 80px);
      margin-left: -40px; }
      @media screen and (max-width: 640px) {
        .main-content article.main-article > figure.full-width {
          margin-left: -24px; } }
    .main-content article.main-article > figure figcaption {
      font-size: 16px;
      line-height: 1.75;
      margin-top: 40px;
      padding-left: 40px;
      padding-right: 40px;
      max-width: 560px;
      margin-left: auto;
      margin-right: auto;
      color: var(--grey-7-hex); }
      @media screen and (max-width: 640px) {
        .main-content article.main-article > figure figcaption {
          padding-left: 24px;
          padding-right: 24px; } }
  .main-content .title-page-container .divider {
    height: 50vh; }
  .main-content .title-page-container .title-page-content {
    padding-left: 40px;
    padding-right: 40px; }
    @media screen and (max-width: 640px) {
      .main-content .title-page-container .title-page-content {
        padding-left: 24px;
        padding-right: 24px; } }
    .main-content .title-page-container .title-page-content .quotation {
      position: relative;
      max-width: 480px;
      margin: 0 auto;
      padding: 20px; }
      .main-content .title-page-container .title-page-content .quotation p {
        text-align: center;
        font-style: italic;
        font-size: 16px;
        line-height: 24px; }
        .main-content .title-page-container .title-page-content .quotation p:not(:first-of-type) {
          margin-top: 8px; }
        .main-content .title-page-container .title-page-content .quotation p.author::before {
          content: '\· '; }
        .main-content .title-page-container .title-page-content .quotation p.author::after {
          content: ' \·'; }
      .main-content .title-page-container .title-page-content .quotation::before {
        content: "";
        position: absolute;
        width: 32px;
        height: 32px;
        border-top: 1px solid var(--grey-2-hex);
        border-left: 1px solid var(--grey-2-hex);
        top: 0;
        left: 0; }
      .main-content .title-page-container .title-page-content .quotation::after {
        content: "";
        position: absolute;
        width: 32px;
        height: 32px;
        border-bottom: 1px solid var(--grey-2-hex);
        border-right: 1px solid var(--grey-2-hex);
        bottom: 0;
        right: 0; }

body.testMode .char::before {
  content: "";
  display: block;
  position: absolute;
  height: 0.5px;
  width: 100px;
  transform: translate(-50%, 0%);
  left: 0;
  bottom: 0;
  background-color: rgba(225, 0, 255, 0.153); }
body.testMode .char::after {
  content: "";
  display: block;
  position: absolute;
  width: 0.5px;
  height: 100%;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background-color: rgba(225, 0, 255, 0.153); }
body.testMode .char .bodyPart::before {
  display: block;
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border: 0.5px solid rgba(255, 0, 0, 0.612);
  border-radius: 1000px;
  transform: translate(-50%, -50%); }
body.testMode .char .bodyPart i::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: visible !important; }
body.testMode .char .bodyPart .deco::before, body.testMode .char .bodyPart .deco::after {
  content: "";
  display: block;
  width: 0.5px;
  height: 16px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background-color: red; }
body.testMode .char .bodyPart .deco::after {
  height: 0.5px;
  width: 16px; }
body.testMode.hideSkin .char .skin {
  visibility: hidden !important; }

.char {
  position: absolute;
  width: 0px;
  height: 200px;
  background-color: red;
  left: 200px;
  bottom: 100px; }
  .char .bodyPart {
    position: absolute;
    width: 0;
    height: 0; }
    .char .bodyPart i {
      position: absolute; }
      .char .bodyPart i .skin {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%; }
    .char .bodyPart .deco {
      position: absolute;
      width: 0;
      height: 0; }
    .char .bodyPart.toes > i {
      width: 8px;
      height: 2px; }
      .char .bodyPart.toes > i::after {
        background-image: url(../../media/character/male-body/toes.png);
        visibility: hidden; }
    .char .bodyPart.toes.outer {
      left: 0;
      bottom: 0;
      transform: rotate(0deg); }
      .char .bodyPart.toes.outer > i {
        transform: translate(0px, -2px); }
        .char .bodyPart.toes.outer > i .skin {
          width: 28px;
          height: 22px; }
    .char .bodyPart.toes.inner {
      left: -9px;
      bottom: -5px;
      transform: rotate(1deg); }
      .char .bodyPart.toes.inner > i {
        transform: translate(-7px, -1px); }
        .char .bodyPart.toes.inner > i .skin {
          width: 28px;
          height: 22px; }
    .char .bodyPart.foot > i {
      width: 16px;
      height: 8px; }
      .char .bodyPart.foot > i::after {
        background-image: url(../../media/character/male-body/foot.png); }
    .char .bodyPart.foot.outer {
      left: 7px;
      bottom: 1px;
      transform: rotate(0deg); }
      .char .bodyPart.foot.outer > i {
        transform: translate(-4px, -7px); }
        .char .bodyPart.foot.outer > i .skin {
          width: 36px;
          height: 28px; }
    .char .bodyPart.foot.inner {
      left: 0px;
      bottom: -55px;
      transform: rotate(-1deg); }
      .char .bodyPart.foot.inner > i {
        transform: translate(-13px, -2px); }
        .char .bodyPart.foot.inner > i .skin {
          width: 36px;
          height: 28px; }
    .char .bodyPart.claf > i {
      width: 16px;
      height: 64px; }
      .char .bodyPart.claf > i::after {
        background-image: url(../../media/character/male-body/claf.png); }
    .char .bodyPart.claf.outer {
      left: 9px;
      bottom: 5px;
      transform: rotate(0deg); }
      .char .bodyPart.claf.outer > i {
        transform: translate(-5px, -60px); }
        .char .bodyPart.claf.outer > i .skin {
          width: 40px;
          height: 80px; }
    .char .bodyPart.claf.inner {
      left: 3px;
      bottom: -53px;
      transform: rotate(-26deg); }
      .char .bodyPart.claf.inner > i {
        transform: translate(-5px, -5px); }
        .char .bodyPart.claf.inner > i .skin {
          width: 40px;
          height: 80px; }
    .char .bodyPart.thigh > i {
      width: 32px;
      height: 75px; }
      .char .bodyPart.thigh > i::after {
        background-image: url(../../media/character/male-body/thigh.png); }
    .char .bodyPart.thigh.outer {
      left: 0px;
      bottom: 55px;
      transform: rotate(0deg); }
      .char .bodyPart.thigh.outer > i {
        transform: translate(-19px, -69px); }
        .char .bodyPart.thigh.outer > i .skin {
          width: 72px;
          height: 99px; }
    .char .bodyPart.thigh.inner {
      left: -8px;
      bottom: -8px;
      transform: rotate(25deg); }
      .char .bodyPart.thigh.inner > i {
        transform: translate(-16px, -16px); }
        .char .bodyPart.thigh.inner > i .skin {
          width: 72px;
          height: 99px; }
    .char .bodyPart.abdomen.u {
      left: -1px;
      bottom: 58px;
      transform: rotate(0deg); }
      .char .bodyPart.abdomen.u > i {
        transform: translate(-18px, -33px);
        width: 25px;
        height: 42px; }
        .char .bodyPart.abdomen.u > i::after {
          background-image: url(../../media/character/male-body/abdomen.png); }
        .char .bodyPart.abdomen.u > i .skin {
          width: 75px;
          height: 90px; }
    .char .bodyPart.breasts.u {
      left: -4px;
      bottom: 15px;
      transform: rotate(0deg); }
      .char .bodyPart.breasts.u > i {
        transform: translate(-16px, -39px);
        width: 31px;
        height: 43px; }
        .char .bodyPart.breasts.u > i::after {
          background-image: url(../../media/character/male-body/breasts.png); }
        .char .bodyPart.breasts.u > i .skin {
          width: 85px;
          height: 85px; }
    .char .bodyPart.brachial > i {
      width: 15px;
      height: 42px; }
      .char .bodyPart.brachial > i::after {
        background-image: url(../../media/character/male-body/brachial.png); }
    .char .bodyPart.brachial.outer {
      left: 8px;
      bottom: 29px;
      transform: rotate(0deg); }
      .char .bodyPart.brachial.outer > i {
        transform: translate(-8px, -5px); }
        .char .bodyPart.brachial.outer > i .skin {
          width: 55px;
          height: 83px; }
    .char .bodyPart.brachial.inner {
      left: -9px;
      bottom: 29px;
      transform: rotate(0deg); }
      .char .bodyPart.brachial.inner > i {
        transform: translate(-8px, -5px); }
        .char .bodyPart.brachial.inner > i .skin {
          width: 55px;
          height: 83px; }
    .char .bodyPart.forearm > i {
      width: 11px;
      height: 38px; }
      .char .bodyPart.forearm > i::after {
        background-image: url(../../media/character/male-body/forearm.png); }
    .char .bodyPart.forearm.outer {
      left: 3px;
      bottom: -35px;
      transform: rotate(0deg); }
      .char .bodyPart.forearm.outer > i {
        transform: translate(-8px, -3px); }
        .char .bodyPart.forearm.outer > i .skin {
          width: 51px;
          height: 78px; }
    .char .bodyPart.forearm.inner {
      left: 3px;
      bottom: -35px;
      transform: rotate(0deg); }
      .char .bodyPart.forearm.inner > i {
        transform: translate(-8px, -3px); }
        .char .bodyPart.forearm.inner > i .skin {
          width: 51px;
          height: 78px; }
    .char .bodyPart.hand > i {
      width: 6px;
      height: 17px; }
      .char .bodyPart.hand > i::after {
        background-image: url(../../media/character/male-body/hand.png); }
    .char .bodyPart.hand.outer {
      left: -7px;
      bottom: -33px;
      transform: rotate(0deg); }
      .char .bodyPart.hand.outer > i {
        transform: translate(-1px, -2px); }
        .char .bodyPart.hand.outer > i .skin {
          width: 46px;
          height: 57px; }
    .char .bodyPart.hand.inner {
      left: -7px;
      bottom: -33px;
      transform: rotate(0deg); }
      .char .bodyPart.hand.inner > i {
        transform: translate(-1px, -2px); }
        .char .bodyPart.hand.inner > i .skin {
          width: 46px;
          height: 57px; }
    .char .bodyPart.neck.u {
      left: 1px;
      bottom: 37px;
      transform: rotate(0deg); }
      .char .bodyPart.neck.u > i {
        transform: translate(-11px, -15px);
        width: 16px;
        height: 20px; }
        .char .bodyPart.neck.u > i::after {
          background-image: url(../../media/character/male-body/neck.png); }
        .char .bodyPart.neck.u > i .skin {
          width: 40px;
          height: 40px; }
    .char .bodyPart.head.u {
      left: -3px;
      bottom: 12px;
      transform: rotate(0deg); }
      .char .bodyPart.head.u > i {
        transform: translate(-17px, -17px);
        width: 25px;
        height: 25px; }
        .char .bodyPart.head.u > i::after {
          background-image: url(../../media/character/male-body/head.png); }
        .char .bodyPart.head.u > i .skin {
          width: 105px;
          height: 105px; }

#char--Hans-Lipperhey .z-toes-outer {
  z-index: 0; }
#char--Hans-Lipperhey .z-foot-outer {
  z-index: 2; }
#char--Hans-Lipperhey .z-claf-outer {
  z-index: 1; }
#char--Hans-Lipperhey .z-thigh-outer {
  z-index: 3; }
#char--Hans-Lipperhey .z-abdomen {
  z-index: 10; }
#char--Hans-Lipperhey .z-breasts {
  z-index: 11; }
#char--Hans-Lipperhey .z-neck {
  z-index: 10; }
#char--Hans-Lipperhey .z-head {
  z-index: 12; }
#char--Hans-Lipperhey .z-brachial-outer {
  z-index: 20; }
#char--Hans-Lipperhey .z-forearm-outer {
  z-index: 22; }
#char--Hans-Lipperhey .z-hand-outer {
  z-index: 21; }
#char--Hans-Lipperhey .z-brachial-inner {
  z-index: -21; }
#char--Hans-Lipperhey .z-forearm-inner {
  z-index: -22; }
#char--Hans-Lipperhey .z-hand-inner {
  z-index: -20; }
#char--Hans-Lipperhey .z-toes-inner {
  z-index: -12; }
#char--Hans-Lipperhey .z-foot-inner {
  z-index: -11; }
#char--Hans-Lipperhey .z-claf-inner {
  z-index: -13; }
#char--Hans-Lipperhey .z-thigh-inner {
  z-index: -10; }
#char--Hans-Lipperhey .z-head i .skin {
  background-image: url(../../media/character/male-skin/Lipperhey/head.png); }
#char--Hans-Lipperhey .z-neck i .skin {
  background-image: url(../../media/character/male-skin/Lipperhey/neck.png); }
#char--Hans-Lipperhey .z-breasts i .skin {
  background-image: url(../../media/character/male-skin/Lipperhey/breasts.png); }
#char--Hans-Lipperhey .z-abdomen i .skin {
  background-image: url(../../media/character/male-skin/Lipperhey/abdomen.png); }
#char--Hans-Lipperhey .z-thigh-outer i .skin {
  background-image: url(../../media/character/male-skin/Lipperhey/thigh-outer.png); }
#char--Hans-Lipperhey .z-claf-outer i .skin {
  background-image: url(../../media/character/male-skin/Lipperhey/claf-outer.png); }
#char--Hans-Lipperhey .z-thigh-inner i .skin {
  background-image: url(../../media/character/male-skin/Lipperhey/thigh-inner.png); }
#char--Hans-Lipperhey .z-claf-inner i .skin {
  background-image: url(../../media/character/male-skin/Lipperhey/claf-inner.png); }
#char--Hans-Lipperhey .z-foot-outer i .skin {
  background-image: url(../../media/character/male-skin/Lipperhey/foot-outer.png); }
#char--Hans-Lipperhey .z-foot-inner i .skin {
  background-image: url(../../media/character/male-skin/Lipperhey/foot-inner.png); }
#char--Hans-Lipperhey .z-toes-outer i .skin {
  background-image: url(../../media/character/male-skin/Lipperhey/toes-outer.png); }
#char--Hans-Lipperhey .z-toes-inner i .skin {
  background-image: url(../../media/character/male-skin/Lipperhey/toes-inner.png); }
#char--Hans-Lipperhey .z-brachial-outer i .skin {
  background-image: url(../../media/character/male-skin/Lipperhey/brachial-outer.png); }
#char--Hans-Lipperhey .z-brachial-inner i .skin {
  background-image: url(../../media/character/male-skin/Lipperhey/brachial-inner.png); }
#char--Hans-Lipperhey .z-forearm-outer i .skin {
  background-image: url(../../media/character/male-skin/Lipperhey/forearm-outer.png); }
#char--Hans-Lipperhey .z-forearm-inner i .skin {
  background-image: url(../../media/character/male-skin/Lipperhey/forearm-inner.png); }
#char--Hans-Lipperhey .z-hand-outer i .skin {
  background-image: url(../../media/character/male-skin/Lipperhey/hand-outer.png); }
#char--Hans-Lipperhey .z-hand-inner i .skin {
  background-image: url(../../media/character/male-skin/Lipperhey/hand-inner.png); }

[id*="char--"].animation--looking-through .z-hand-outer .telescope {
  z-index: -1;
  position: absolute;
  left: 2px;
  top: 10px;
  transform: rotate(-18deg);
  animation: lookingThrough-deco-rotation 20s infinite;
  animation-delay: 2s; }
  [id*="char--"].animation--looking-through .z-hand-outer .telescope > .image {
    z-index: -10;
    display: block;
    position: absolute;
    width: 3px;
    height: 75px;
    background-image: url(../../media/character/deco/Lipperhey-telescope.png);
    transform: translate(-1px, -33px); }
[id*="char--"].animation--looking-through .foot.inner {
  animation: lookingThrough-inner-foot-rotation 20s infinite;
  animation-delay: 2s; }
[id*="char--"].animation--looking-through .claf.outer {
  animation: lookingThrough-outer-claf-rotation 20s infinite;
  animation-delay: 2s; }
[id*="char--"].animation--looking-through .claf.inner {
  animation: lookingThrough-inner-claf-rotation 20s infinite;
  animation-delay: 2s; }
[id*="char--"].animation--looking-through .thigh.outer {
  animation: lookingThrough-outer-thigh-rotation 20s infinite;
  animation-delay: 2s; }
[id*="char--"].animation--looking-through .thigh.inner {
  animation: lookingThrough-inner-thigh-rotation 20s infinite;
  animation-delay: 2s; }
[id*="char--"].animation--looking-through .abdomen.u {
  animation: lookingThrough-abdomen-rotation 20s infinite;
  animation-delay: 2s; }
[id*="char--"].animation--looking-through .breasts.u {
  animation: lookingThrough-breasts-rotation 20s infinite;
  animation-delay: 2s; }
[id*="char--"].animation--looking-through .brachial.outer {
  transform: rotate(17deg);
  animation: lookingThrough-outer-brachial-rotation 20s infinite;
  animation-delay: 2s; }
[id*="char--"].animation--looking-through .brachial.inner {
  transform: rotate(14deg);
  animation: lookingThrough-inner-brachial-rotation 20s infinite;
  animation-delay: 2s; }
[id*="char--"].animation--looking-through .forearm.outer {
  transform: rotate(24deg);
  animation: lookingThrough-outer-forearm-rotation 20s infinite;
  animation-delay: 2s; }
[id*="char--"].animation--looking-through .forearm.inner {
  animation: lookingThrough-inner-forearm-rotation 20s infinite;
  animation-delay: 2s; }
[id*="char--"].animation--looking-through .neck.u {
  animation: lookingThrough-neck-rotation 20s infinite;
  animation-delay: 2s; }
[id*="char--"].animation--looking-through .head.u {
  animation: lookingThrough-head-rotation 20s infinite;
  animation-delay: 2s; }

@keyframes lookingThrough-outer-claf-rotation {
  0% {
    transform: rotate(0deg); }
  5% {
    transform: rotate(1.5deg); }
  10% {
    transform: rotate(1deg); }
  50% {
    transform: rotate(1deg); }
  55% {
    transform: rotate(0.9deg); }
  60% {
    transform: rotate(0deg); } }
@keyframes lookingThrough-inner-claf-rotation {
  0% {
    transform: rotate(-26deg); }
  5% {
    transform: rotate(-25deg); }
  10% {
    transform: rotate(-25.5deg); }
  50% {
    transform: rotate(-25.5deg); }
  55% {
    transform: rotate(-25deg); }
  60% {
    transform: rotate(-26deg); } }
@keyframes lookingThrough-inner-foot-rotation {
  0% {
    transform: rotate(0deg); }
  5% {
    transform: rotate(-1.5deg); }
  10% {
    transform: rotate(-1deg); }
  50% {
    transform: rotate(-1deg); }
  55% {
    transform: rotate(-0.9deg); }
  60% {
    transform: rotate(0deg); } }
@keyframes lookingThrough-outer-thigh-rotation {
  0% {
    transform: rotate(0deg); }
  5% {
    transform: rotate(0.2deg); }
  10% {
    transform: rotate(1deg); }
  50% {
    transform: rotate(1deg); }
  55% {
    transform: rotate(0.8deg); }
  60% {
    transform: rotate(0deg); } }
@keyframes lookingThrough-inner-thigh-rotation {
  0% {
    transform: rotate(25deg) translate(0px, 0px); }
  5% {
    transform: rotate(23deg) translate(0px, 1px); }
  10% {
    transform: rotate(23deg) translate(0px, 1px); }
  50% {
    transform: rotate(23deg) translate(0px, 1px); }
  55% {
    transform: rotate(23deg) translate(0px, 1px); }
  60% {
    transform: rotate(23deg) translate(0px, 0px); } }
@keyframes lookingThrough-abdomen-rotation {
  0% {
    transform: rotate(0deg); }
  5% {
    transform: rotate(1.25deg); }
  10% {
    transform: rotate(1deg); }
  60% {
    transform: rotate(0deg); } }
@keyframes lookingThrough-breasts-rotation {
  0% {
    transform: rotate(0deg); }
  4% {
    transform: rotate(4deg); }
  10% {
    transform: rotate(3.5deg); }
  50% {
    transform: rotate(3.5deg); }
  54% {
    transform: rotate(3deg); }
  60% {
    transform: rotate(0deg); } }
@keyframes lookingThrough-neck-rotation {
  0% {
    transform: rotate(0deg); }
  4% {
    transform: rotate(-6deg); }
  10% {
    transform: rotate(-6deg); }
  50% {
    transform: rotate(-6deg); }
  54% {
    transform: rotate(-5deg); }
  60% {
    transform: rotate(0deg); } }
@keyframes lookingThrough-head-rotation {
  0% {
    transform: rotate(0deg); }
  4% {
    transform: rotate(-7deg); }
  10% {
    transform: rotate(-7deg); }
  50% {
    transform: rotate(-7deg); }
  54% {
    transform: rotate(-5deg); }
  60% {
    transform: rotate(0deg); } }
@keyframes lookingThrough-outer-brachial-rotation {
  0% {
    transform: rotate(17deg) translate(0px, 0px); }
  4% {
    transform: rotate(71deg) translate(0px, -2px); }
  10% {
    transform: rotate(73deg) translate(0px, -2px); }
  50% {
    transform: rotate(73deg) translate(0px, -2px); }
  54% {
    transform: rotate(67deg) translate(0px, -3px); }
  60% {
    transform: rotate(17deg) translate(0px, 0px); } }
@keyframes lookingThrough-inner-brachial-rotation {
  0% {
    transform: rotate(14deg) translate(0px, 0px); }
  4% {
    transform: rotate(71deg) translate(-1px, 1px); }
  10% {
    transform: rotate(73deg) translate(-1px, 1px); }
  50% {
    transform: rotate(73deg) translate(-1px, 1px); }
  54% {
    transform: rotate(69deg) translate(-1px, 2px); }
  60% {
    transform: rotate(14deg) translate(0px, 0px); } }
@keyframes lookingThrough-outer-forearm-rotation {
  0% {
    transform: rotate(24deg); }
  4% {
    transform: rotate(61deg); }
  10% {
    transform: rotate(60deg); }
  50% {
    transform: rotate(60deg); }
  54% {
    transform: rotate(60deg); }
  60% {
    transform: rotate(24deg); } }
@keyframes lookingThrough-inner-forearm-rotation {
  0% {
    transform: rotate(0deg); }
  4% {
    transform: rotate(56deg); }
  10% {
    transform: rotate(55deg); }
  50% {
    transform: rotate(55deg); }
  54% {
    transform: rotate(54deg); }
  60% {
    transform: rotate(0deg); } }
@keyframes lookingThrough-deco-rotation {
  0% {
    transform: rotate(-18deg); }
  4% {
    transform: rotate(-48deg); }
  10% {
    transform: rotate(-47.5deg); }
  50% {
    transform: rotate(-47.5deg); }
  54% {
    transform: rotate(-40deg); }
  60% {
    transform: rotate(-18deg); } }
.demo-middleBox {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 400px;
  height: 400px;
  outline: 0.5px dashed rgba(255, 132, 0, 0.437); }
