

// fixed item
@import "cover";
@import "nav";


@mixin contentSpacing {
  padding-left: 40px;
  padding-right: 40px;

  @media screen and (max-width: 640px) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.main-content {
  margin: 0 auto;
  max-width: 880px;
  @include contentSpacing;

  @import "article";
  @import "title-page";
}

