@mixin contentSpacing {
  margin-left: 40px;
  margin-right: 40px;

  @media screen and (max-width: 640px) {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@import "cover";
@import "nav";
@import "title-page";