:root {
  --char: 200;
}

@mixin charFliph {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph; /*IE*/
  filter: fliph; /*IE*/
}


@import "1-template";


@import "Hans-Lipperhey";
@import "Triptych-of-Galileo";
@import "diagram-of-Lipperheys-telescope";
@import "diagram-of-eyepiece";
@import "Galileo-grinding-lens";
@import "diagram-of-magnification";


// .demo-middleBox {
//   position: absolute;
//   transform: translate(-50%, -50%);
//   left: 50%;
//   top: 50%;
//   width: 400px;
//   height: 400px;
//   outline: 0.5px dashed rgba(255, 132, 0, 0.437);
// }














