body.testMode {
  // 这个部分是用来测试人物的坐标中轴线的。中轴线的底部位于外侧下肢的脚之尖。如果角色出现移动，那么就是移动这个中轴线。
  .char {
    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 0.5px;
      width: 100px;
      transform: translate(-50%, -0%);
      left: 0;
      bottom: 0;
      background-color: rgba(225, 0, 255, 0.153);
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 0.5px;
      height: 100%;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      background-color: rgba(225, 0, 255, 0.153);
    }

    // 这个东西用来作为测试时候的坐标提示
    .bodyPart {
      &::before {
        display: block;
        content: "";
        position: absolute;

        width: 4px;
        height: 4px;
        border: 0.5px solid rgba(255, 0, 0, 0.612);
        border-radius: 1000px;
        transform: translate(-50%, -50%);
      }

      i {
        &::after {
          display: block;
          content: "";
          position: absolute;
          width: 100%; height: 100%;
          visibility: visible !important;
        }
      }
      .deco {
        &::before, &::after {
          content: "";
          display: block;
          width: 0.5px;
          height: 16px;
          position: absolute;
          transform: translate(-50%, -50%);
          left: 50%;
          top: 50%;
          background-color: red;
        }
  
        &::after {
          height: 0.5px;
          width: 16px;
        }
      }
    }
  }

  &.hideSkin {
    .char {
      .skin {
        visibility: hidden !important;
      }
    }
  }
}













// ================================
// 角色中轴线
// ================================
.char {
  position: absolute;
  width: 0px;
  height: 200px;  
  background-color: red;

  // 实际情况下，角色确定位置靠这两个参数
  left: 200px;
  bottom: 100px;

  // 这个东西用来作为测试时候的坐标提示
  .bodyPart {
    position: absolute;
    width: 0;
    height: 0;

    // Skin 以及 test skin 的存放位置
    i {
      position: absolute;

      .skin {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
      }
    }

    .deco {
      position: absolute;
      width: 0;
      height: 0;
    }

    // 开始：身体部位
    &.toes {
      &>i {
        width: 8px; height: 2px;
        &::after {
          background-image: url(../../media/character/male-body/toes.png);
          visibility: hidden;
        }
      }
      &.outer {
        left: 0;
        bottom: 0;
        transform: rotate(0deg); // rotation 动画干预这里

        &>i {
          transform: translate(0px, -2px);

          .skin {
            width: 28px;
            height: 22px;
          }
        }
      }

      &.inner {
        left: -9px;
        bottom: -5px;    
        transform: rotate(1deg); // rotation 动画干预这里

        &>i {
          transform: translate(-7px, -1px);

          .skin {
            width: 28px;
            height: 22px;
          }
        }
      }
    }

    &.foot {
      &>i {
        width: 16px; height: 8px;
        &::after {
          background-image: url(../../media/character/male-body/foot.png);
        }
      }
      &.outer {
        left: 7px;
        bottom: 1px;    
        transform: rotate(0deg); // rotation 动画干预这里

        &>i {
          transform: translate(-4px, -7px);

          .skin {
            width: 36px;
            height: 28px;
          }
        }
      }
      &.inner {
        left: 0px;
        bottom: -55px; 
        transform: rotate(-1deg); // rotation 动画干预这里

        &>i {
          transform: translate(-13px, -2px);

          .skin {
            width: 36px;
            height: 28px;
          }
        }
      }
    }

    &.claf {
      &>i {
        width: 16px; height: 64px; 
        &::after {
          background-image: url(../../media/character/male-body/claf.png);
        }       
      }
      &.outer {
        left: 9px;
        bottom: 5px;
        transform: rotate(0deg); // rotation 动画干预这里

        &>i {
          transform: translate(-5px, -60px);
          .skin {
            width: 40px;
            height: 80px;
          }
        }
      }
      &.inner {
        left: 3px;
        bottom: -53px;
        transform: rotate(-26deg); // rotation 动画干预这里

        &>i {
          transform: translate(-5px, -5px);
          .skin {
            width: 40px;
            height: 80px;
          }
        }
      }
    }

    &.thigh {
      &>i {
        width: 32px; height: 75px;
        &::after {
          background-image: url(../../media/character/male-body/thigh.png);
        }    
      }
      &.outer {
        left: 0px;
        bottom: 55px;
        transform: rotate(0deg); // rotation 动画干预这里

        &>i {
          transform: translate(-19px, -69px);

          .skin {
            width: 72px;
            height: 99px;
          }
        }
      }

      &.inner {
        left: -8px;
        bottom: -8px;
        transform: rotate(25deg); // rotation 动画干预这里

        &>i {
          transform: translate(-16px, -16px);

          .skin {
            width: 72px;
            height: 99px;
          }
        }
      }
    }


    // 躯干
    &.abdomen {
      &.u {
        left: -1px;
        bottom: 58px;
        transform: rotate(0deg); // rotation 动画干预这里
  
        &>i {
          transform: translate(-18px, -33px);

          width: 25px; height: 42px;  
          &::after {
            background-image: url(../../media/character/male-body/abdomen.png);
          }

          .skin {
            width: 75px;
            height: 90px;
          }
        }        
      }
    }

    &.breasts {
      &.u {
        left: -4px;
        bottom: 15px;
        transform: rotate(0deg); // rotation 动画干预这里
        &>i {
          transform: translate(-16px, -39px);
          width: 31px; height: 43px;
          &::after {
            background-image: url(../../media/character/male-body/breasts.png);
          }

          .skin {
            width: 85px;
            height: 85px;
          }
        }
      }
    }

    // 手👋
    &.brachial {
      &>i {
        width: 15px; height: 42px;
        &::after {
          background-image: url(../../media/character/male-body/brachial.png);
        }   
      }
      &.outer {
        left: 8px;
        bottom: 29px;
        transform: rotate(0deg); // rotation 动画干预这里

        &>i {
          transform: translate(-8px, -5px);

          .skin {
            width: 55px;
            height: 83px;
          }
        }
      }

      &.inner {
        left: -9px;
        bottom: 29px;
        transform: rotate(0deg); // rotation 动画干预这里
  
        &>i {
          transform: translate(-8px, -5px);

          .skin {
            width: 55px;
            height: 83px;
          }
        }
      }
    }

    &.forearm {
      &>i {
        width: 11px; height: 38px;
        &::after {
          background-image: url(../../media/character/male-body/forearm.png);
        }   
      }
      &.outer {
        left: 3px;
        bottom: -35px;
        transform: rotate(0deg); // rotation 动画干预这里
  
        &>i {
          transform: translate(-8px, -3px); 

          .skin {
            width: 51px;
            height: 78px;
          }
        }        
      }
      &.inner {
        left: 3px;
        bottom: -35px;
        transform: rotate(0deg); // rotation 动画干预这里  
  
        &>i {
          transform: translate(-8px, -3px);

          .skin {
            width: 51px;
            height: 78px;
          }
        }          
      }
    }

    &.hand {
      &>i {
        width: 6px; height: 17px;
        &::after {
          background-image: url(../../media/character/male-body/hand.png);
        }
      }
      &.outer {
        left: -7px;
        bottom: -33px;
        transform: rotate(0deg); // rotation 动画干预这里

        &>i {
          transform: translate(-1px, -2px);
          
          .skin {
            width: 46px;
            height: 57px;
          }
        }
      }
      &.inner {
        left: -7px;
        bottom: -33px;
        transform: rotate(0deg); // rotation 动画干预这里

        &>i {
          transform: translate(-1px, -2px);

          .skin {
            width: 46px;
            height: 57px;
          }
        }
      }
    }

    // 👨
    &.neck {
      &.u {
        left: 1px;
        bottom: 37px;
        transform: rotate(0deg); // rotation 动画干预这里
  
        &>i {
          transform: translate(-11px, -15px);
          width: 16px; height: 20px;
          &::after {
            background-image: url(../../media/character/male-body/neck.png);
          }
          .skin {
            width: 40px;
            height: 40px;
          }
        }        
      }
    }

    &.head {
      &.u {
        left: -3px;
        bottom: 12px;
        transform: rotate(0deg); // rotation 动画干预这里
  
        &>i {
          transform: translate(-17px, -17px);
          width: 25px; height: 25px; 
          &::after {
            background-image: url(../../media/character/male-body/head.png);
          }
          .skin {
            width: 105px;
            height: 105px;
          }
        }        
      }
    }
    // 结束：身体部位
  }
}



// ================================
// 纵深
// ================================

@mixin bodyPartZ($mode) {
  @if $mode == "sport" {
    // 外侧 腿
    .z-toes-outer {
      z-index: 0;
    }

    .z-foot-outer {
      z-index: 2;
    }

    .z-claf-outer {
      z-index: 1;
    }

    .z-thigh-outer {
      z-index: 3;
    }

    // 躯干
    .z-abdomen {
      z-index: 0;
    }

    .z-breasts {
      z-index: 1;
    }

    .z-neck {
      z-index: 0;
    }

    .z-head {
      z-index: 2;
    }

    // 外侧 手
    .z-brachial-outer {
      z-index: 20;
    }

    .z-forearm-outer {
      z-index: 21;
    }

    .z-hand-outer {
      z-index: 22;
    }

    // 内侧 手
    .z-brachial-inner {
      z-index: -20;
    }

    .z-forearm-inner {
      z-index: -21;
    }

    .z-hand-inner {
      z-index: -22;
    }

    // 内侧 腿
    .z-toes-inner {
      z-index: -12;
    }

    .z-foot-inner {
      z-index: -11;
    }

    .z-claf-inner {
      z-index: -13;
    }

    .z-thigh-inner {
      z-index: -10;
    }
  }

  @if $mode == "oldFashion" {
    // 外侧 腿
    .z-toes-outer {
      z-index: 0;
    }

    .z-foot-outer {
      z-index: 2;
    }

    .z-claf-outer {
      z-index: 1;
    }

    .z-thigh-outer {
      z-index: 3;
    }

    // 躯干
    .z-abdomen {
      z-index: 10;
    }

    .z-breasts {
      z-index: 11;
    }

    .z-neck {
      z-index: 10;
    }

    .z-head {
      z-index: 12;
    }

    // 外侧 手
    .z-brachial-outer {
      z-index: 20;
    }

    .z-forearm-outer {
      z-index: 22;
    }

    .z-hand-outer {
      z-index: 21;
    }

    // 内侧 手
    .z-brachial-inner {
      z-index: -21;
    }

    .z-forearm-inner {
      z-index: -22;
    }

    .z-hand-inner {
      z-index: -20;
    }

    // 内侧 腿
    .z-toes-inner {
      z-index: -12;
    }

    .z-foot-inner {
      z-index: -11;
    }

    .z-claf-inner {
      z-index: -13;
    }

    .z-thigh-inner {
      z-index: -10;
    }
  }
}

