#Galilean-moons {

  --ill-w: 560;
  --ill-h: 567;

  max-width: 560px;

  .figbody {
    position: relative;
    width: 100%;
    padding-top: calc(var(--ill-h) / var(--ill-w) * 100%);

    .system {
      position: relative;
      margin-top: 20px;
      margin-left: 40px;

      [class*="moon-"] {
        transform-origin: center;
        transform: rotate(0deg);
        position: absolute;
        background-color: rgba(#F7E9DB, 0.04);

        i {
          width: 10px;
          height: 10px;
          position: absolute;

          left: -5px;
          top: calc(50% - 5px);
        }

        &[class*="-4"] {
          width: 480px;
          height: 480px;
          
          border-radius: 1000px;
          left: 0;
          top: 0;

          i {
            background-image: url(../../media/illustration/Galilean-moons-orbiting/vector/Callisto.png);
          }
        }
  
        &[class*="-3"] {
          width: 272px;
          height: 272px;
          border-radius: 1000px;
          left: 104px;
          top: 104px;

          i {
            background-image: url(../../media/illustration/Galilean-moons-orbiting/vector/Ganymede.png);
          }
        }
  
        &[class*="-2"] {
          width: 172px;
          height: 172px;
          border-radius: 1000px;
          left: 154px;
          top: 154px;

          i {
            background-image: url(../../media/illustration/Galilean-moons-orbiting/vector/Europa.png);
          }
        }
  
        &[class*="-1"] {
          width: 108px;
          height: 108px;
          border-radius: 1000px;
          left: 186px;
          top: 186px;

          i {
            background-image: url(../../media/illustration/Galilean-moons-orbiting/vector/Io.png);
          }
        }
      }

      .Jupiter {
        width: 44px;
        height: 44px;

        position: absolute;

        background-image: url(../../media/illustration/Galilean-moons-orbiting/vector/Jupiter.png);
      
        left: 218px;
        top: 218px;
      }

      

      [class*="shadow-"] {
        background-color: var(--white);
        opacity: 0.04;
        height: 291px;
        position: absolute;
        top: 240px;

        &[class*="-4"] {
          width: 480px;

          
        }
  
        &[class*="-3"] {
          width: 272px;
          left: 104px;

          
        }
  
        &[class*="-2"] {
          width: 172px;
          left: 154px;
        }
  
        &[class*="-1"] {
          width: 108px;
          left: 186px;
        }
      }


    }

    .system-h {
      position: absolute;
      width: 480px;
      height: 32px;
      bottom: 0;
      transform: translate(-50%, 0);
      left: 50%;

      [class*="orbit-"] {
        height: 100%;
        position: absolute;
        transform: translate(-50%, 0);
        left: 50%;

        .bd {
          position: absolute;
          width: 0px;
          height: 32px;
          transition: 1s;

          i {
            width: 32px;
            height: 32px;
            position: absolute;
            left: -16px;
          }
        }

        &[class*="-Jupiter"] {
          width: 480px;

          .bd {
            left: 240px;

            i {
              background-image: url(../../media/illustration/Galilean-moons-orbiting/script/Jupiter-1.png);

              animation: Galilean-moons-script-Jupiter 0.5s infinite;
              @keyframes Galilean-moons-script-Jupiter {
                0% {
                  background-image: url(../../media/illustration/Galilean-moons-orbiting/script/Jupiter-1.png);
                }

                33.3333% {
                  background-image: url(../../media/illustration/Galilean-moons-orbiting/script/Jupiter-2.png);
                }

                66.6666% {
                  background-image: url(../../media/illustration/Galilean-moons-orbiting/script/Jupiter-3.png);
                }
              }
            }
          }
        }

        &[class*="-Io"] {
          width: 108px;

          .bd {
            left: 54px;

            i {
              background-image: url(../../media/illustration/Galilean-moons-orbiting/script/Io-1.png);
              
              animation: Galilean-moons-script-Io 0.5s infinite;
              @keyframes Galilean-moons-script-Io {
                0% {
                  background-image: url(../../media/illustration/Galilean-moons-orbiting/script/Io-1.png);
                }

                33.3333% {
                  background-image: url(../../media/illustration/Galilean-moons-orbiting/script/Io-2.png);
                }

                66.6666% {
                  background-image: url(../../media/illustration/Galilean-moons-orbiting/script/Io-3.png);
                }
              }
            }
          }
        }

        &[class*="-Europa"] {
          width: 172px;

          .bd {
            left: 86px;

            i {
              background-image: url(../../media/illustration/Galilean-moons-orbiting/script/Europa-1.png);

              animation: Galilean-moons-script-Europa 0.5s infinite;
              @keyframes Galilean-moons-script-Europa {
                0% {
                  background-image: url(../../media/illustration/Galilean-moons-orbiting/script/Europa-1.png);
                }

                33.3333% {
                  background-image: url(../../media/illustration/Galilean-moons-orbiting/script/Europa-2.png);
                }

                66.6666% {
                  background-image: url(../../media/illustration/Galilean-moons-orbiting/script/Europa-3.png);
                }
              }
            }
          }
        }

        &[class*="-Ganymede"] {
          width: 272px;

          .bd {
            left: 136px;

            i {
              background-image: url(../../media/illustration/Galilean-moons-orbiting/script/Ganymede-1.png);

              animation: Galilean-moons-script-Ganymede 0.5s infinite;
              @keyframes Galilean-moons-script-Ganymede {
                0% {
                  background-image: url(../../media/illustration/Galilean-moons-orbiting/script/Ganymede-1.png);
                }

                33.3333% {
                  background-image: url(../../media/illustration/Galilean-moons-orbiting/script/Ganymede-2.png);
                }

                66.6666% {
                  background-image: url(../../media/illustration/Galilean-moons-orbiting/script/Ganymede-3.png);
                }
              }
            }
          }
        }

        &[class*="-Callisto"] {
          width: 480px;

          .bd {
            left: 240px;

            i {
              background-image: url(../../media/illustration/Galilean-moons-orbiting/script/Callisto-1.png);

              animation: Galilean-moons-script-Callisto 0.5s infinite;
              @keyframes Galilean-moons-script-Callisto {
                0% {
                  background-image: url(../../media/illustration/Galilean-moons-orbiting/script/Callisto-1.png);
                }

                33.3333% {
                  background-image: url(../../media/illustration/Galilean-moons-orbiting/script/Callisto-2.png);
                }

                66.6666% {
                  background-image: url(../../media/illustration/Galilean-moons-orbiting/script/Callisto-3.png);
                }
              }
            }
          }
        }
      }
    }
  }
}