// ================================
// skin and decoration
// ================================
#char--Hans-Lipperhey {
  @include bodyPartZ("oldFashion");

  .z-head {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/head.png);
      }
    }
  }

  .z-neck {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/neck.png);
      }
    }
  }

  .z-breasts {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/breasts.png);
      }
    }
  }

  .z-abdomen {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/abdomen.png);
      }
    }
  }

  .z-thigh-outer {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/thigh-outer.png);
      }
    }
  }

  .z-claf-outer {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/claf-outer.png);
      }
    }
  }

  .z-thigh-inner {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/thigh-inner.png);
      }
    }
  }

  .z-claf-inner {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/claf-inner.png);
      }
    }    
  }

  .z-foot-outer {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/foot-outer.png);
      }
    }
  }

  .z-foot-inner {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/foot-inner.png);
      }
    }
  }

  .z-toes-outer {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/toes-outer.png);
      }
    }
  }

  .z-toes-inner {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/toes-inner.png);
      }
    }
  }

  .z-brachial-outer {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/brachial-outer.png);
      }
    }
  }

  .z-brachial-inner {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/brachial-inner.png);
      }
    }
  }

  .z-forearm-outer {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/forearm-outer.png);
      }
    }
  }

  .z-forearm-inner {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/forearm-inner.png);
      }
    }
  }

  .z-hand-outer {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/hand-outer.png);
      }
    }
  }

  .z-hand-inner {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/hand-inner.png);
      }
    }
  }
}




