// ================================
// skin and decoration
// ================================
#char--Hans-Lipperhey {
  @include bodyPartZ("oldFashion");

  .z-head {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/head.svg);
      }
    }
  }

  .z-neck {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/neck.svg);
      }
    }
  }

  .z-breasts {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/breasts.svg);
      }
    }
  }

  .z-abdomen {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/abdomen.svg);
      }
    }
  }

  .z-thigh-outer {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/thigh-outer.svg);
      }
    }
  }

  .z-claf-outer {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/claf-outer.svg);
      }
    }
  }

  .z-thigh-inner {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/thigh-inner.svg);
      }
    }
  }

  .z-claf-inner {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/claf-inner.svg);
      }
    }    
  }

  .z-foot-outer {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/foot-outer.svg);
      }
    }
  }

  .z-foot-inner {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/foot-inner.svg);
      }
    }
  }

  .z-toes-outer {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/toes-outer.svg);
      }
    }
  }

  .z-toes-inner {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/toes-inner.svg);
      }
    }
  }

  .z-brachial-outer {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/brachial-outer.svg);
      }
    }
  }

  .z-brachial-inner {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/brachial-inner.svg);
      }
    }
  }

  .z-forearm-outer {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/forearm-outer.svg);
      }
    }
  }

  .z-forearm-inner {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/forearm-inner.svg);
      }
    }
  }

  .z-hand-outer {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/hand-outer.svg);
      }
    }
  }

  .z-hand-inner {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Lipperhey/hand-inner.svg);
      }
    }
  }
}







// ================================
// animation
// ================================
[id*="char--"].animation--looking-through {
  $Lipperhey-animation-time: 20s;
  $Lipperhey-animation-delay: 2s;

  .z-hand-outer {
    .telescope {
      z-index: -1;
      position: absolute;
      left: 2px;
      top: 10px;
      transform: rotate(-18deg);
      animation: Lipperhey-deco-rotation $Lipperhey-animation-time infinite;
      animation-delay: $Lipperhey-animation-delay;

      &>.image {
        z-index: -10;

        display: block;
        position: absolute;
        width: 3px;
        height: 75px;
        background-image: url(../../media/character/deco/Lipperhey-telescope.svg);
        transform: translate(-1px, -33px);
      }
    }
  }

  .foot {
    &.inner {
      animation: Lipperhey-inner-foot-rotation $Lipperhey-animation-time infinite;
      animation-delay: $Lipperhey-animation-delay;
    }
  }

  .claf {
    &.outer {
      animation: Lipperhey-outer-claf-rotation $Lipperhey-animation-time infinite;
      animation-delay: $Lipperhey-animation-delay;
    }

    &.inner {
      animation: Lipperhey-inner-claf-rotation $Lipperhey-animation-time infinite;
      animation-delay: $Lipperhey-animation-delay;
    }
  }

  .thigh {
    &.outer {
      animation: Lipperhey-outer-thigh-rotation $Lipperhey-animation-time infinite;
      animation-delay: $Lipperhey-animation-delay;
    }

    &.inner {
      animation: Lipperhey-inner-thigh-rotation $Lipperhey-animation-time infinite;
      animation-delay: $Lipperhey-animation-delay;
    }
  }

  .abdomen {
    &.u {
      animation: Lipperhey-abdomen-rotation $Lipperhey-animation-time infinite;
      animation-delay: $Lipperhey-animation-delay;
    }
  }

  .breasts {
    &.u {
      animation: Lipperhey-breasts-rotation $Lipperhey-animation-time infinite;
      animation-delay: $Lipperhey-animation-delay;
    }
  }

  .brachial {
    &.outer {
      transform: rotate(17deg);
      animation: Lipperhey-outer-brachial-rotation $Lipperhey-animation-time infinite;
      animation-delay: $Lipperhey-animation-delay;
    }

    &.inner {
      transform: rotate(14deg);
      animation: Lipperhey-inner-brachial-rotation $Lipperhey-animation-time infinite;
      animation-delay: $Lipperhey-animation-delay;
    }
  }

  .forearm {
    &.outer {
      transform: rotate(24deg);
      animation: Lipperhey-outer-forearm-rotation $Lipperhey-animation-time infinite;
      animation-delay: $Lipperhey-animation-delay;
    }

    &.inner {
      animation: Lipperhey-inner-forearm-rotation $Lipperhey-animation-time infinite;
      animation-delay: $Lipperhey-animation-delay;
    }
  }

  .neck {
    &.u {
      animation: Lipperhey-neck-rotation $Lipperhey-animation-time infinite;
      animation-delay: $Lipperhey-animation-delay;
    }
  }

  .head {
    &.u {
      animation: Lipperhey-head-rotation $Lipperhey-animation-time infinite;
      animation-delay: $Lipperhey-animation-delay;
    }
  }
}












@keyframes Lipperhey-outer-claf-rotation {
  0% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(1.5deg);
  }

  10% {
    transform: rotate(1deg);
  }

  50% {
    transform: rotate(1deg);
  }

  55% {
    transform: rotate(0.9deg);
  }

  60% {
    transform: rotate(0deg);
  }
}

@keyframes Lipperhey-inner-claf-rotation {
  0% {
    transform: rotate(-26deg);
  }

  5% {
    transform: rotate(-25deg);
  }

  10% {
    transform: rotate(-25.5deg);
  }

  50% {
    transform: rotate(-25.5deg);
  }

  55% {
    transform: rotate(-25deg);
  }

  60% {
    transform: rotate(-26deg);
  }
}

@keyframes Lipperhey-inner-foot-rotation {
  0% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(-1.5deg);
  }

  10% {
    transform: rotate(-1deg);
  }

  50% {
    transform: rotate(-1deg);
  }

  55% {
    transform: rotate(-0.9deg);
  }

  60% {
    transform: rotate(0deg);
  }
}

@keyframes Lipperhey-outer-thigh-rotation {
  0% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(0.2deg);
  }

  10% {
    transform: rotate(1deg);
  }

  50% {
    transform: rotate(1deg);
  }

  55% {
    transform: rotate(0.8deg);
  }

  60% {
    transform: rotate(0deg);
  }
}

@keyframes Lipperhey-inner-thigh-rotation {
  0% {
    transform: rotate(25deg) translate(0px, 0px);
  }

  5% {
    transform: rotate(23deg) translate(0px, 1px);
  }

  10% {
    transform: rotate(23deg) translate(0px, 1px);
  }

  50% {
    transform: rotate(23deg) translate(0px, 1px);
  }

  55% {
    transform: rotate(23deg) translate(0px, 1px);
  }

  60% {
    transform: rotate(23deg) translate(0px, 0px);
  }
}


@keyframes Lipperhey-abdomen-rotation {
  0% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(1.25deg);
  }

  10% {
    transform: rotate(1deg);
  }

  60% {
    transform: rotate(0deg);
  }
}

@keyframes Lipperhey-breasts-rotation {
  0% {
    transform: rotate(0deg);
  }

  4% {
    transform: rotate(4deg);
  }

  10% {
    transform: rotate(3.5deg);
  }

  50% {
    transform: rotate(3.5deg);
  }

  54% {
    transform: rotate(3deg);
  }

  60% {
    transform: rotate(0deg);
  }
}

@keyframes Lipperhey-neck-rotation {
  0% {
    transform: rotate(0deg);
  }

  4% {
    transform: rotate(-6deg);
  }

  10% {
    transform: rotate(-6deg);
  }

  50% {
    transform: rotate(-6deg);
  }

  54% {
    transform: rotate(-5deg);
  }

  60% {
    transform: rotate(0deg);
  }
}

@keyframes Lipperhey-head-rotation {
  0% {
    transform: rotate(0deg);
  }

  4% {
    transform: rotate(-7deg);
  }

  10% {
    transform: rotate(-7deg);
  }

  50% {
    transform: rotate(-7deg);
  }

  54% {
    transform: rotate(-5deg);
  }

  60% {
    transform: rotate(0deg);
  }
}

@keyframes Lipperhey-outer-brachial-rotation {
  0% {
    transform: rotate(17deg) translate(0px, 0px);
  }

  4% {
    transform: rotate(71deg) translate(0px, -2px);
  }

  10% {
    transform: rotate(73deg) translate(0px, -2px);
  }

  50% {
    transform: rotate(73deg) translate(0px, -2px);
  }

  54% {
    transform: rotate(67deg) translate(0px, -3px);
  }

  60% {
    transform: rotate(17deg) translate(0px, 0px);
  }
}

@keyframes Lipperhey-inner-brachial-rotation {
  0% {
    transform: rotate(14deg) translate(0px, 0px);
  }

  4% {
    transform: rotate(71deg) translate(-1px, 1px);
  }

  10% {
    transform: rotate(73deg) translate(-1px, 1px);
  }

  50% {
    transform: rotate(73deg) translate(-1px, 1px);
  }

  54% {
    transform: rotate(69deg) translate(-1px, 2px);
  }

  60% {
    transform: rotate(14deg) translate(0px, 0px);
  }
}

@keyframes Lipperhey-outer-forearm-rotation {
  0% {
    transform: rotate(24deg);
  }

  4% {
    transform: rotate(61deg);
  }

  10% {
    transform: rotate(60deg);
  }

  50% {
    transform: rotate(60deg);
  }

  54% {
    transform: rotate(60deg);
  }

  60% {
    transform: rotate(24deg);
  }
}

@keyframes Lipperhey-inner-forearm-rotation {
  0% {
    transform: rotate(0deg);
  }

  4% {
    transform: rotate(56deg);
  }

  10% {
    transform: rotate(55deg);
  }

  50% {
    transform: rotate(55deg);
  }

  54% {
    transform: rotate(54deg);
  }

  60% {
    transform: rotate(0deg);
  }
}


@keyframes Lipperhey-deco-rotation {
  0% {
    transform: rotate(-18deg);
  }

  4% {
    transform: rotate(-48deg);
  }

  10% {
    transform: rotate(-47.5deg);
  }

  50% {
    transform: rotate(-47.5deg);
  }

  54% {
    transform: rotate(-40deg);
  }

  60% {
    transform: rotate(-18deg);
  }
}