#Triptych-of-Galileo {
  --ill-h: 348;
  --ill-w: 880;

  .figbody {
    position: relative;
    width: 100%;
    padding-top: calc(var(--ill-h) / var(--ill-w) * 100%);

    .nightsky {
      width: calc((var(--ill-w) - 2) * 1px);
      height: calc((var(--ill-h) - 2) * 1px);
      position: absolute;
      left: 1px; top: 1px;

      background-image: url(../../media/illustration/part1-cover/nightsky.png);

      z-index: 0;
    }

    .stage {
      width: calc((var(--ill-w) - 2) * 1px);
      height: 26px;
      position: absolute;
      left: 1px; bottom: 1px;

      background-image: url(../../media/illustration/part1-cover/stage.png);

      z-index: 1;
    }

    .left {
      position: absolute;
      z-index: 10;

      .clock-animation-part {
        position: absolute;
        width: 0;
        height: 0;
        left: 171.5px;
        top: 178.5px;

        .image {
          width: 11px;
          height: 142px;
          position: absolute;
          transform: translate(-50%, 0);
          left: 50%;

          background-image: url(../../media/illustration/part1-cover/clock-animation-part.png);

          z-index: 0;
        }

        $clockAnimationDeg: 4deg;
        transform: rotate($clockAnimationDeg);
        animation: clockAnimation 2s infinite;
        animation-timing-function: ease-in-out;
        @keyframes clockAnimation {
          0% {
            transform: rotate($clockAnimationDeg);
          }

          50% {
            transform: rotate(-$clockAnimationDeg);
          }

          100% {
            transform: rotate($clockAnimationDeg);
          }
        }
      }

      .clock-animation-part-2 {
        position: absolute;
        width: 0;
        height: 0;
        left: 152px;
        top: 237px;

        .image {
          width: 32px;
          height: 32px;
          position: absolute;
          transform: translate(-50%, -50%);
          left: 50%;
          top: 50%;

          background-image: url(../../media/illustration/part1-cover/clock-animation-part-2.png);

          z-index: 0;
        }

        animation: clockAnimation2 5s infinite;
        @keyframes clockAnimation2 {
          0% { transform: rotate(0deg); }
          20% { transform: rotate(6deg); }
          40% { transform: rotate(12deg); }
          60% { transform: rotate(18deg); }
          80% { transform: rotate(24deg); }
          100% { transform: rotate(30deg); }
        }
      }

      .clock {
        width: 62px;
        height: 176px;
        position: absolute;
        left: 121px; top: 157px;

        background-image: url(../../media/illustration/part1-cover/clock.png);

        z-index: 1;
      }

      .clock-animation-part-hour {
        position: absolute;
        width: 0;
        height: 0;
        left: 152px;
        top: 195px;

        z-index: 2;

        transform: rotate(0deg);
        

        .image {
          width: 2px;
          height: 38px;
          position: absolute;
          left: 50%;
          top: 50%;
          background-image: url(../../media/illustration/part1-cover/clock-animation-part-hour.png);

          // initial deg
          transform: translate(-50%, -50%) rotate(20deg);
        }
        
        animation: clock-animation-part-hour 216000s linear infinite;
        @keyframes clock-animation-part-hour {
          0% {
            transform: rotate(0deg);
          }

          100% {
            transform: rotate(360deg);
          }
        }
      }

      .clock-animation-part-min {
        position: absolute;
        width: 0;
        height: 0;
        left: 152px;
        top: 195px;

        z-index: 2;

        transform: rotate(0deg);
        

        .image {
          width: 2px;
          height: 38px;
          position: absolute;
          left: 50%;
          top: 50%;
          background-image: url(../../media/illustration/part1-cover/clock-animation-part-min.png);

          // initial deg
          transform: translate(-50%, -50%) rotate(240deg);
        }
        
        animation: clock-animation-part-min 3600s linear infinite;
        @keyframes clock-animation-part-min {
          0% {
            transform: rotate(0deg);
          }

          100% {
            transform: rotate(360deg);
          }
        }
      }
    }

    .mid {
      position: absolute;

      .chair {
        width: 136px;
        height: 243px;
        position: absolute;
        left: 345px;
        top: 90px;
  
        background-image: url(../../media/illustration/part1-cover/chair.png);
  
        z-index: 2;
      }
  
      #char--Triptych-of-Galileo--Calileo {
        left: 392px;
        top: 332px;
        
        z-index: 10;
      }
  
      .desk {
        width: 124px;
        height: 225px;
        position: absolute;
        left: 406px;
        top: 108px;
  
        background-image: url(../../media/illustration/part1-cover/desk.png);
  
        z-index: 11;
      }
    }

    .pillars {
      width: calc(var(--ill-w) * 1px);
      height: calc(var(--ill-h) * 1px);
      position: absolute;
      left: 0px; top: 0px;

      background-image: url(../../media/illustration/part1-cover/pillars.png);

      z-index: 100;
    }
  }
}


#char--Triptych-of-Galileo--Calileo {
  @include bodyPartZ("oldFashion");
  @include charFliph();

  .z-head {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Galileo/head.png);
      }
    }
  }

  .z-neck {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Galileo/neck.png);
      }
    }
  }

  .z-breasts {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Galileo/breasts.png);
      }
    }
  }

  .z-abdomen {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Galileo/abdomen.png);
      }
    }
  }

  .z-thigh-outer {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Galileo/thigh-outer.png);
      }
    }
  }

  .z-claf-outer {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Galileo/claf-outer.png);
      }
    }
  }

  .z-thigh-inner {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Galileo/thigh-inner.png);
      }
    }
  }

  .z-claf-inner {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Galileo/claf-inner.png);
      }
    }    
  }

  .z-foot-outer {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Galileo/foot-outer.png);
      }
    }
  }

  .z-foot-inner {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Galileo/foot-inner.png);
      }
    }
  }

  .z-toes-outer {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Galileo/toes-outer.png);
      }
    }
  }

  .z-toes-inner {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Galileo/toes-inner.png);
      }
    }
  }

  .z-brachial-outer {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Galileo/brachial-outer.png);
      }
    }
  }

  .z-brachial-inner {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Galileo/brachial-inner.png);
      }
    }
  }

  .z-forearm-outer {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Galileo/forearm-outer.png);
      }
    }
  }

  .z-forearm-inner {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Galileo/forearm-inner.png);
      }
    }
  }

  .z-hand-outer {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Galileo/hand-outer.png);
      }
    }
  }

  .z-hand-inner {
    i {
      .skin {
        background-image: url(../../media/character/male-skin/Galileo/hand-inner.png);
      }
    }
  }
}